.add-button-icon{
    display: flex;
    justify-content: flex-end;
    /* height: 1000px; */
    padding-top: 90px;
    margin-top: -10px;
}

.add-button-icon img {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}