
.home-page-whatweoffer{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
width: 80%;
margin: auto;
}

.home-page-whatweoffer-singlecard {
    width: 80%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
   }

.home-page-whatweoffer-singlecard img{
 width: 80%;
 height: 70%;   
 margin: auto;
}


.home-page-whatweoffer-info{
    text-align: center;
    width: 80%;
}

.home-page-second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.home-oage-whatweoffer-header{
    color: #d77a46;
    font-family: rye;
}


@media only screen and (max-width: 767px) {

    .home-page-whatweoffer{
        grid-template-columns: 1fr;
    }
    .home-page-whatweoffer-singlecard{
        width: 100%;
    }
    .home-page-whatweoffer{
        width: 80%;
    }
  }



  .main-footer {
    background: #FFFAEC;
    padding: 20px;
    color: #F13A44;
    text-align: center;
    height: 230px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.quick-links-1,
.quick-links-2 {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px
}

footer .rights p {
    color: #F13A44;

}



.site-footer
{
  background-color:#FFFAEC;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#000000
  
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#ff0000;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#d77c6a
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#000000
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  display: flex;
  justify-content: center;
  margin-left: 450px;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}