.custom-popup {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.cart-popup-content {
  text-align: center;
}

.cart-popup-content h2 {
  color: #333;
}

.cart-popup-content ul {
  list-style-type: none;
  padding: 0;
}

.cart-popup-content li {
  margin-bottom: 8px;
}

.cart-popup-content button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 margin-top: 0px;
 margin-right: 2px;
}
