body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.About-us-page {
  display: flex;
  flex-direction: column;

}

.aboutussections{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
margin-top: 30px;
color: #d77a46;
text-align: center;
}


.aboutussection1{
  width: 80%;
  margin: auto;
}


.aboutussection1 img{
width: 100%;
border-radius: 10%;
}