.background-dash {
  background-color: #f9f9f9;
}

.text-dash {
  color: #d77a46;
  text-decoration: none;
  list-style: none;
}

.logout-button-admin {
  display: flex;
  justify-content: flex-end;
  margin-left: 1525px;
  border: none;
  background: none;
}


