.background-dash {
  background-color: #f9f9f9;
}

.text-dash {
  color: #d77a46;
  text-decoration: none;
  list-style: none;
}

.logout-button-admin {
  display: flex;
  justify-content: flex-end;
  margin-left: 1525px;
  border: none;
  background: none;
}

body {
  /* background: url("../../assets/cake-mehio.jpg") no-repeat center center/cover; */
  height: 900px;
  margin-top: 65px;
}
