
.form-container-edit-category{
    background: linear-gradient(to right top, rgba(216, 129, 92, 0.7), rgba(175, 111, 82, 0.7), rgba(135, 93, 72, 0.7), rgba(98, 75, 63, 0.7), rgba(61, 57, 55, 0.7));
    width: 60%;
    margin: 0 auto;

}